  <!-- Footer -->
  <footer class="footer py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-md-start">
          <p class="mb-0">
            &copy; 2025 Anish Karki. All rights reserved.
          </p>
        </div>
        <div class="col-md-6">
          <ul class="list-inline mb-0 text-center text-md-end">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/anish-karki-545a4a187/" target="_blank" class="social-icon">
                <i class="fab fa-linkedin fa-lg"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/anishkarki" target="_blank" class="social-icon">
                <i class="fab fa-github fa-lg"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="mailto:anish.karki1.618@gmail.com" class="social-icon">
                <i class="fas fa-envelope fa-lg"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>