<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <span class="brand-prompt">$</span> <span class="brand-name">anish<span class="brand-highlight">@</span>karki</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html#home">
            <i class="fas fa-terminal me-1"></i>home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blog.html">
            <i class="fas fa-file-alt me-1"></i>blog
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cheatsheets.html">
            <i class="fas fa-scroll me-1"></i>cheatsheets
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="lessons.html">
            <i class="fas fa-book me-1"></i>lessons
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#about">
            <i class="fas fa-user me-1"></i>about
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#education">
            <i class="fas fa-graduation-cap me-1"></i>edu
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#experience">
            <i class="fas fa-briefcase me-1"></i>exp
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#skills">
            <i class="fas fa-code me-1"></i>skills
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#projects">
            <i class="fas fa-folder me-1"></i>projects
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#certifications">
            <i class="fas fa-certificate me-1"></i>certs
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#contact">
            <i class="fas fa-envelope me-1"></i>contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>